@{
    ViewBag.Title = "About The One Stop Sports Shop";
}
<h2>@ViewBag.Title.</h2>
<h3>All your sports needs just one click away!</h3>

<p>
    "In just a matter of seconds", The One Stop Sports Shop App allows our clients the convenience to register for custom made sports gear. 
     With just a click of a button select your color, select your sport, and your package will be cruising on it's way!
</p>
