@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">Welcome To The One Stop Sports Shop!</p>

    <p><a href="/Home/Registration" class="">Register</a></p>

@*<table>
        <tr>
            <th>UserName</th>
            <th>Color</th>
            <select>
                <option value="blue">Blue</option>
                <option value="green">Green</option>
                <option value="pink">Pink</option>
                <option value="yellow">Yellow</option>
            </select>
            <th>Sport</th>

        </tr>
        @foreach (var r in ViewBag.RegisterList)
        {
            <tr>
                <td>@r</td>
                <td>@r</td>
                <td>@r</td>
            </tr>
        }
</table>*@


</div>
    